name: monorepo-go

on:
  # We don't have it running on main automatically, because it's already called
  # as a step of the publish-repos workflow.
  pull_request:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  monorepo-go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Monorepo
        uses: actions/checkout@v3

      - name: Install devbox
        uses: jetpack-io/devbox-install-action@v0.7.0
        with:
          enable-cache: true

      # can this be part of devbox action?
      - name: Mount golang cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/golangci-lint
            ~/.cache/go-build
            ~/go/pkg
          key: ${{ runner.os }}-${{ hashFiles('go.work.sum') }}

      - name: Go modules should be up-to-date
        run: |
          devbox run go-mod-sync
          git diff --exit-code
          
      - name: Lint
        run: devbox run lint

      - name: Build
        run: devbox run build

      - name: Test
        run: devbox run test
