# Publish subdirectories of this monorepo to standalone repositories

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  publish-repos:
    runs-on: ubuntu-latest
    steps:
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.CODEBOT_SSH_KEY }}
      - uses: ./action-publish-code
        with:
          origin: ${{ github.repository }}
          dirs: nixtest
